[submodule "opendc"]
	path = opendc
	url = https://github.com/atlarge-research/opendc
[submodule "kavier"]
	path = kavier
	url = https://github.com/atlarge-research/Kavier
[submodule "LLMTraceArchive"]
    path = LLMTraceArchive
    url = https://github.com/atlarge-research/LLMTraceArchive
